Source: emulica
Section: python
Priority: extra
Build-Depends: debhelper (>= 8),
 python (>= 2.6.6-3~),
 python-distutils-extra (>= 2.10)
Maintainer: Remi Pannequin <remi.pannequin@univ-lorraine.fr>
Standards-Version: 3.9.3
X-Python-Version: >= 2.6

Package: emulica
Architecture: all
Depends: ${misc:Depends},
 ${python:Depends},
 python-matplotlib,
 gir1.2-gtk-3.0,
 gir1.2-gtksource-3.0,
 gir1.2-goocanvas-2.0-9,
 gir1.2-pango-1.0,
 gir1.2-glib-2.0,
 python-twisted-core,
 python-cairo,
 python-simpy,
 yelp
Description: Emulication of logistic systems
 Emulica is an emulation framework that enable researchers or
 practitionners to design and run emulation-based control experiments, in
 the context of manufacturing and logistics systems.
